
  body {
    background-color: #FFF7DE;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    }

  #temp_graph {
    position: absolute;
    top: 140px;
    background-color: white;
    width: 90%;
    z-index: -1;
  }
  #timer {
    position: absolute;
    left: 100px;
    top: 140px;
    width:150px;
    background-color: white;
    border: 3px ridge black;
  }

  #current_table {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 168px;
    border: 1px solid green;
    background-color: white;
  }

  #pid_table {
    position: absolute;
    top:2px;
    left:180px;
    width: 218px;
    border: 1px solid red;
  }

  #recipes {
    position: absolute;
    top:2px;
    left:410px;
    width: 148px;
    border: 1px solid blue;
    font-size: 80%;
  }

  #control_panel {
    position: absolute;
    top:2px;
    /* left:410px; */
    right: 5px;
    width: 228px;
    border: 1px solid blue;
    background-color: white;
    border: 4px groove black;
    box-shadow: 5px 5px 5px grey;

  }

  #heat, #set_T {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    font-weight: bold;
    border-style: groove;
  }

  table {
    border: 1px solid black;
  }
  th {
    background-color: #DEE6FF;
    margin: 5px 10px;
    border: inherit;
  }
  td {
    border: 1px solid black;
    text-align: center;
  }

  .table_caption {
    font-size: 60%;
    font-style:italic;
  }

  .col_label {
    font-size: 80%;
    font-style: italic;
    border: 3px groove black;
    background-color: white;
  }


  .ctrl_button {
    height: 48px;
    width: 48px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    white-space: normal;
    text-align: normal;
  }

  .set_button {
    /* height: 1.2em; */
    /* width: 6em; */
    border-radius: .25em;
    border: 2px solid black;
    white-space: normal;
    text-align: normal;
    background-color: #9DD7DB;
    /* box-shadow: 3px 3px 5px #9DD7DB; */
    box-shadow: 3px 3px 5px #2A777D;
  }
  .set_button:hover {
    background-color: #8AD0D5;
    box-shadow: 5px 5px 5px black;
  }

  #runCrock_but {
    background-color: #1D4D1F;
    color: #fff;
    box-shadow: 5px 5px 5px #24A228;
  }
  #runCrock_but:hover {
    background-color: #196B1B;
    box-shadow: 3px 3px 5px black;
  }
  #T_check_but {
    background-color: #00f;
    color: #fff;
    box-shadow: 5px 5px 5px #45A6D3;
  }

  #T_check_but:hover {
    background-color: #00d;
    box-shadow: 3px 3px 5px black;
  }

  .K_param_input {
    width: 3em;
    text-align: center;
  }
